@import url("https://fonts.googleapis.com/css2?family=Makazi&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Makazi", sans-serif;
  min-height: 100vh;
  color: #f5f6f7;
  background-color: #3c5f57;
  padding: 2rem;
}
.btn {
  display: block;
  font-family: inherit;
  color: #33323d;
  font-size: 18px;
  border: 2px solid #437373;
  background-color: #f5f6f7;
  padding: 1.2rem /*2.4rem*/;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}
.answer-right-selected {
  background-color: #119e7d;
}
.answer-right-unselected {
  background-color: #119e7d;
  transition: 5s;
}
.answer-wrong {
  background-color: #f29255;
  transition: 1s;
}

.star-svg{
  background-color:#690f0f;
}
.star-svg path{
  fill: #c5c5c5;
}
