@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}
.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  border: 2px solid papayawhip;
  background-color: papayawhip;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}
.answerc {
  background-color: darkgreen;
}

.answerw {
  background-color: darkred;
}